ion-header-bar.bar-positive(align-title="center")
    div.buttons
        button.button(ng-click="vm.doSomething()") 左侧按钮
        h1.title angularjs 学习

ion-content
    ng-outlet

ion-tabs.tabs-positive.tabs-icon-only
    ion-tab(title="crisis center" ng-link="['CrisisCenter']" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline")
    ion-tab(title="heroes" ng-link="['Heroes']" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline")
    ion-tab(title="首页" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline")