ion-header-bar.bar-positive(align-title="center")
    div.buttons
        button.button(ng-click="vm.doSomething()") 点一点有惊喜
        h1.title angularjs学习

ion-content
    ng-outlet

ion-tabs.tabs-positive.tabs-icon-only
    ion-tab(title="crisis center" ng-link="['CrisisCenter']"  icon-on="ion-ios-home" icon-off="ion-ios-home-outline")
    ion-tab(title="heroes" ng-link="['Heroes']" icon-on="ion-ios-book" icon-off="ion-ios-book-outline")
    ion-tab(title="setting" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline")